@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
  --primary-color: #FFFFFF;
  --background-color: #E5E5E5;
  --primary-font-color: #334AC4;
  --secondary-font-color: #8D8D8D;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: var(--secondary-font-color);
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
